body {
  
    float: middle;
    font-family: sans-serif;
    display: grid;
    grid-template-areas: "header header header"
                        " nav nav nav"
                        " main main main";
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 0.1fr 0.1fr 3fr;
    max-width: 1366px;
    max-height: 1080px;
}

header {
    grid-area: header;
    width: 1366px;
    height: 63px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 10px #00000019;
    opacity: 1;
}

nav {
    grid-area: nav;
    text-decoration: none;
    
}

main {
    grid-area: main;
    width: 80%;
    margin: 0 auto;
}


.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

#box0 {
    margin: 25px;
    padding: 5px;
    width: 90%;
    
}

#box1 {
    height: 163px;
    width: 282px;
    margin: 25px;
    padding: 5px;
    box-shadow: 0px 8px 16px #5DD3D829; 
    border-radius: 8px;
    

}

#box2 {
    height: 163px;
    width: 282px;
    margin: 25px;
    padding: 5px;
    box-shadow: 0px 8px 16px #5DD3D829;
    border-radius: 8px;
    
}

#box3 {
    height: 163px;
    width: 282px;
    margin: 25px;
    padding: 5px;
    box-shadow: 0px 8px 16px #5DD3D829;
    border-radius: 8px;
   
}

#box4 {
    height: 163px;
    width: 282px;
    margin: 25px;
    padding: 5px;
    box-shadow: 0px 8px 16px #5DD3D829;
    border-radius: 8px;
    
}

#box5 {
    height: 163px;
    width: 282px;
    margin: 25px;
    padding: 5px;
    box-shadow: 0px 8px 16px #5DD3D829;
    border-radius: 8px;
    
}

#box6 {
    height: 163px;
    width: 282px;
    margin: 25px;
    padding: 5px;
    box-shadow: 0px 8px 16px #5DD3D829;
    border-radius: 8px;
  
    
}

#knapp {
    background-color: #56D4C2;
    color: white;
    margin: 3px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    float: right;
}


#addknapp {
    background: #56D4C2 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: white;
    width: 141px;
    height: 42px;
    float: right;
    
}

#title {
    width: 463px;
    height: 49px;
    border-radius: 5px;
    
    
}

#content {
  width: 926px;
  height: 135px;
  border-radius: 5px;
  resize: none;
 
}

#text1 {
    text-align: left;
    font: normal normal 900 20px/27px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    text-decoration: none;
    font-weight: bold;
    
}

#text2 {
    float: right;
    text-decoration: none;
    color: grey;
    padding: 5px;
    margin: 5px;
}

p {
    text-align: left;
    font: normal normal normal 14px/19px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin: 15px;
}

h1 {
    text-align: left;
    font: normal normal 900 20px/27px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;

}


h2 {
    text-align: left;
    font: normal normal bold 16px/22px;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1; 
    margin: 15px;
}




@media only screen and (max-width:800px) and (min-width:100px) {
   
    main { 
        grid-template-columns: 4fr;
        grid-template-rows: 0.1fr 0.1fr 3fr;
        grid-template-areas: "header"
                            "nav"
                            "main";
    }

    body {
      font-size: 15px;
    }
  
    .wrapper {
      display: flex;
      flex-direction: row;
  }

    #title {
        width: 153px;
        height: 16px;
        border-radius: 5px;
    
    
}

    #content {
        width: 308px;
        height: 45px;
        border-radius: 5px;
 
}
 }